body {
    font-family: Arial, sans-serif;
    margin: 0px auto;
    padding: 0;
    background-color: #f0f0f0;
}

h2X {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 10px;      /* h2: 0px */
    margin-inline-end: 0px;
    font-weight: normal;            /* h2: bold */
    unicode-bidi: isolate;
}

pp {
    /* text-align: center; */
    color: #444;
    font-size: 22px;

}

p {
    /* text-align: center; */
    color: #444;
    /* font-size: 18px; */
}

c {
    color: rgb(20, 77, 220);
    background-color: #dddddd;
    padding: 2px;
    font-family: monospace;
}
codeblock {
    display: block;
    background-color: #dddddd;
    padding: 2px;
    font-family: monospace;line-height: 18pt;
    margin-top: 10px
}
comment {
    color: green !important;
}