
/* For screens smaller than 600px */
@media (max-width: 500px) {
    body.resp {
        width: 400px;
    }
    }
    
    /* For screens larger than 600px */
    @media (min-width: 501px) {
    body.resp  {
        width: 800px;
    }
    }


/* For screens smaller than 600px */
@media (max-width: 500px) {
    fixed.resp  {
        width: 400px;
    }
    }
    
/* For screens larger than 600px */
@media (min-width: 501px) {
    fixed.resp  {
        width: 800px;
    }
    }