nav { 
    background-color: #38444d; 
}

nav > a, 
nav > drop > a, 
nav > div.drop > a { 
    color: white; 
}


nav > a:hover, 
nav > drop > a:hover, 
nav > div.drop > a:hover { 
    background-color: red; 
}

nav > drop > down, 
nav > div.drop > div.down { 
    background-color: #f9f9f9; 
}

nav > drop > down a, 
nav > div.drop > div.down a { 
    color: black; 
}

nav > drop > down a:hover, 
nav > div.drop > div.down a:hover { 
    background-color: red; 
}

nav > info { 
    color: rgb(191, 223, 238); 
}

.sidebar li                                     {
    background-color: aqua;
}