:root {
    --color-badge-bg: white;
    --color-badge-font: #64748b;

    --color-badge-bg-checked: #2563eb;
    --color-badge-font-checked: white;

    --color-badge-info-bg-checked: #2563eb;
    --color-badge-info-font-checked: white;
}

/* form default override */
form {
  margin: 0;
}

.nav-status-bar {
    margin-bottom: 15px;
    display: flex;
    gap: 8px; /* Space between stickers */
}

.multi-badge {
  display: inline-flex;
  border-radius: 8px;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 0.75rem;
}

/* Hide the actual circles */
.multi-badge input {
  display: none;
}

/* Default look for all labels */
.multi-badge label {
  padding: 4px 10px;
  cursor: pointer;
  background: var(--color-badge-bg);
  color: var(--color-badge-font);
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
  border-right: 1px solid #e2e8f0;
}

.multi-badge label:last-of-type {
  border-right: none;
}

/* The Magic: Highlight the label immediately following the checked radio */
.multi-badge input:checked + label{
  background: var(--color-badge-bg-checked);
  color: var(--color-badge-font-checked);
}

.multi-badge label:hover {
  filter: brightness(95%); 
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  z-index: 10; 
} 
